body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0a2cd;
    font-family: Arial, sans-serif;
    color: beige;
}

.stopwatch {
    text-align: center;
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #c51576;
    color: beige;
}

#laps {
    margin-top: 20px;
}
